body {
    background-color: #222;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .celular {
    width: 360px;
    height: 640px;
    background-color: #8c8c8c;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
    margin-top: 1rem;
  }

  header {
    background-color: #b30000;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid black;
  }
  
  header h1 {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
  }
  
  .voltar {
    position: absolute;
    left: 1rem;
  }

  .home{
    position: absolute;
    right: 1rem;
  }
  
  .voltar img {
    width: 1.6rem;
    height: 1.6rem;
  }

  .home img {
    width: 1.6rem;
    height: 1.6rem;
  }