
body {
    background-color: #898989;
    flex-direction: column;
    align-items: stretch;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color: #950606;
    flex-grow: 2;
    align-items: center;
   
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: 2.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h2 {
    color: #FFDE21;
    border: solid 0rem;
    padding: 0.5rem;
    background-color: #FF2C2C;
    font-size: 2rem;
    width: 50%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: scroll;
}

.vertical {
    flex-wrap: wrap;
    justify-content: center;

}

li {
    margin: 1rem;
    font-weight: bold;
}

header img{
    height: 5rem;
    width: 5rem;
}

main img{
    height: 10rem;
    width: 7.5rem;
}

.auto_suggestion {
    height: 3rem;
    width: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.nome {
    border: 0.1rem solid black;
    padding: 0.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

footer img {
    height: 5rem;
    width: 5rem;
}

.search_footer {
    margin-top: 15rem;
}
.add {
    display: flex;
    flex-direction: row;
    background-color:#FF2C2C;
    align-items: center;
}

footer h3 {
    color:#FFDE21;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text_box {
    border: 0.1rem black;
    background-color: black;
    color:white;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 1rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.save {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    background-color:#FF2C2C;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 5rem;
}

.foto_nota {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}


.nota {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.nota h2 {
    display: flex;
    justify-content: center;
}

.info {
    color: #FFDE21;
    border: solid 0rem;
    padding: 0.5rem;
    background-color: #FF2C2C;
    font-size: 2rem;
    width: 50%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}